# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
dist/
build/

# IDE-specific temp files
.idea/
*.swp
*.swo

# Environment configuration
.env

# Add uploads directory to .gitignore
uploads/
